body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 24px;
}

header {
display: flex;
justify-content: space-between;
border-bottom: 2px solid white;
margin: 0px 25px 0px 25px;
margin-top: -10px;
padding: 0px;
align-items: end;
}

#high {
    color: blueviolet;
    font-weight: bolder;
}

.question {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    font-size: 34px;
    font-weight: bolder;
    margin: 50px 150px 50px 150px;

}
#button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 0 0 0;

}
button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 18px;
    border: solid 1px white;
    border-radius: 20px;
    width: 425px;
    padding: 20px;

}
